# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/
__pycache__/
/run/
/buffet_venv/

# Jupyter Notebook
.ipynb_checkpoints
/post_processing/.ipynb_checkpoints

# don't push the geometry directory containing the STL files of the OAT15
/OAT15_simulations/geometry/airfoil.stl
/post_processing/.ipynb_checkpoints/
/grid_generation/oat15.dat
/grid_generation/oat15_reversed.dat
/OAT15_simulations/URANS_SA_SALSA_validation_Re3e6_Ma0.73/system/blockMeshDict
/OAT15_simulations/DDES_SA_SALSA_validation_Re3e6_Ma0.73/system/blockMeshDict
